* {
    margin: 0px;
}
body {
    background-color: rgb(136, 63, 63);
    color: white;
}
h1 {
 text-transform: uppercase; 
 text-align: center; 
 letter-spacing: 4px; 
 background-color: rgb(13, 21, 59);
}
 a:link, a:visited {
 color: rgb(19, 7, 77);
text-decoration: none;
 font-size: 40px;
 border-bottom: 3px dotted white;
}
a:active, a:hover {
  opacity: 0.6;
  color: rgb(19, 7, 77);
  border-bottom: 3px dotted rgb(201, 191, 191);
}
li {
    margin: 7.5px;
}
ol, ul {
    margin: 40px;
}
#flexCont {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 100%;
}
.item {
    height: 40px;
    width: 40px;
}
.imgLink{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    
}
img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
